<template>
  <div class="multi-line">
    {{ text }}
  </div>
</template>

<script lang="ts">
import { useContext, useAsync, useRoute } from '@nuxtjs/composition-api'

export default {
  setup() {
    const { $http } = useContext()
    const route = useRoute()

    const workId = route.value.params.workId
    const text = useAsync(async () => {
      const data = await $http.$get('/api/works/' + workId) as any // TODO
      return data.data.text
    })

    return { text }
  }
}
</script>
