<template>
  <v-app dark>
    <v-app-bar :clipped-left="clipped" fixed app hide-on-scroll>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-text-field outlined clearable dense prepend-inner-icon="mdi-magnify" class="mt-6" @keydown="onKeydown">
      </v-text-field>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import { ref, useRouter } from '@nuxtjs/composition-api'

export default {
  setup() {
    const router = useRouter()
    const title = 'aobun-nuxt'

    const fixed = ref(false)

    const onKeydown = (event: KeyboardEvent) => {
      if (event.keyCode !== 13) return

      const title = (event.target instanceof HTMLInputElement ? event.target.value : '')
      router.push({ path: 'search', query: { title: title }})
    }

    return { title, fixed, onKeydown }
  }
}
</script>
