<template>
  <div>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Classification</th>
            <th class="text-left">Title</th>
            <th class="text-left">Person</th>
            <th class="text-left">Translator</th>
            <th></th>
          </tr>
        </thead>
          <tbody>
            <tr v-for="work in works.data" :key="work.id">
              <td>{{ work.classification }}</td>
              <td>{{ work.title }}</td>
              <td>{{ work.person.full_name }}</td>
              <td>{{ work.translator }}</td>
              <td><v-btn :to="{ path: 'work/' + work.id }" color="primary">読む</v-btn></td>
            </tr>
          </tbody>
      </template>
    </v-simple-table>
    <v-row justify="center">
      <v-col cols="10">
        <v-pagination
          v-model="page"
          :length="length"
          @input="onInput"
        ></v-pagination>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { useContext, useFetch, useRoute, useRouter, ref, watch } from '@nuxtjs/composition-api'

export default {
  setup() {
    const { $http } = useContext()
    const route = useRoute()
    const router = useRouter()

    const title = ref('')
    const page = ref(1)
    const works = ref({data: {}, meta: { last_page: 0 }, links: {}}) // TODO 型定義
    const length = ref(0)

    const { fetch, fetchState } = useFetch(async () => {
      title.value = String(route.value.query.title || '')
      page.value = Number(route.value.query.page || 1)
      works.value = await $http.$get('/api/works', { searchParams: { page: page.value, title: title.value} })
      length.value = works.value.meta.last_page
    })
    fetch()
    watch(route, () => fetch())

    const onInput = (number: number): void => {
      router.push({ path: 'search', query: { page: String(number), title: title.value} })
    }

    return { page, works, length, onInput }
  }
}
</script>
